---
layout: base.njk 
title: Calculator
uniqueTitle: Calculator
---

<div class="hero">
    <div class="hero-body text-centered">
        <h1 class="title">Calculator</h1>
        <p>Enter your hourly rate and see how much you can early on a daily basis. If you choose an end date, the calculator will run until a day after your chosen date. So selecting October 24th as an end date will show October 25th as the final date.</p>
    </div>
</div>

<div class="container">
    <div class="calculator">
        <div class="form card p-small">
            <form action="">
                <div class="currency-input">
                    <label for="hourly-profit">Hourly Profit*</label>
                    <input type="number" id="hourly-profit" step="0.01" required />
                </div>
                <div class="currency-input">
                    <label for="total-mined" step="0.01">Current total mined (Optional)</label>
                    <input type="number" id="total-mined" step="0.01" />
                </div>
                <div>
                    <label for="start-date">Start date (Optional)</label>
                    <input type="date" id="start-date" />
                </div>
                <label>Choose <strong>ONE</strong> of the options</label>
                <div>
                    <label for="iterations">How many days?</label>
                    <input type="number" id="iterations" />
                </div>
                <div>
                    <label for="end-date">End date</label>
                    <input type="date" id="end-date" />
                </div>
                <div id="form-buttons">
                    <input type="reset" value="Reset">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>

        <div class="table card p-small">
            <table class="hidden">
                <ul class="table-buttons hidden">
                    <li>
                        <button class="table-clear">
                            Clear Table <i class="fa-solid fa-circle-xmark"></i>
                        </button>
                    </li>
                    <li>
                        <h3 id="total-days"><span></span> Days</h3>
                    </li>
                    <li>
                        <h3 id="total-earned">£<span></span> Mined</h3>
                    </li>
                </ul>

                <thead>
                    <th>Date</th>
                    <th>Total Mined</th>
                </thead>
                <tbody>
                    <tr>
                        <td>September 30th 2023</td>
                        <td>£0.00</td>
                    </tr>
                    <tr>
                        <td>September 30th 2023</td>
                        <td>£24.02</td>
                    </tr>
                </tbody>
            </table>

            <p class="pre-text">Awaiting your calculation...</p>
        </div>
    </div>
</div>
