---
layout: base.njk 
title: Helpers
uniqueTitle: Helpers
---

<div class="hero">
    <div class="hero-body text-centered">
        <h1 class="title">Helpers</h1>
    </div>
</div>

<div class="container">
    <table class="helper-table">
        <tr>
            <th></th>
            <th>PER HOUR</th>
            <th>PER DAY</th>
            <th>PER WEEK</th>
            <th>PER MONTH</th>
        </tr>
        <tr>
            <td>FREE</td>
            <td data-label="Per Hour">0.00115 USDT</td>
            <td data-label="Per Day">0.02760 USDT</td>
            <td data-label="Per Week">0.1932 USDT</td>
            <td data-label="Per Month">0.828 USDT</td>
        </tr>
        <tr>
            <td>10 USDT</td>
            <td data-label="Per Hour">0.01667 USDT</td>
            <td data-label="Per Day">0.40008 USDT</td>
            <td data-label="Per Week">2.80056 USDT</td>
            <td data-label="Per Month">12.00240 USDT</td>
        </tr>
        <tr>
            <td>50 USDT</td>
            <td data-label="Per Hour">0.08333 USDT</td>
            <td data-label="Per Day">1.99992 USDT</td>
            <td data-label="Per Week">13.99944 USDT</td>
            <td data-label="Per Month">59.99760 USDT</td>
        </tr>
        <tr>
            <td>100 USDT</td>
            <td data-label="Per Hour">0.16667 USDT</td>
            <td data-label="Per Day">4.00008 USDT</td>
            <td data-label="Per Week">28.00056 USDT</td>
            <td data-label="Per Month">120.00240 USDT</td>
        </tr>
        <tr>
            <td>200 USDT</td>
            <td data-label="Per Hour">0.33333 USDT</td>
            <td data-label="Per Day">7.99992 USDT</td>
            <td data-label="Per Week">55.99944 USDT</td>
            <td data-label="Per Month">239.99760 USDT</td>
        </tr>
        <tr>
            <td>500 USDT</td>
            <td data-label="Per Hour">1.04167 USDT</td>
            <td data-label="Per Day">25.00008 USDT</td>
            <td data-label="Per Week">175.00056 USDT</td>
            <td data-label="Per Month">750.00240 USDT</td>
        </tr>
        <tr>
            <td>1000 USDT</td>
            <td data-label="Per Hour">2.08333 USDT</td>
            <td data-label="Per Day">49.99992 USDT</td>
            <td data-label="Per Week">349.99944 USDT</td>
            <td data-label="Per Month">1499.99760 USDT</td>
        </tr>
        <tr>
            <td>2000 USDT</td>
            <td data-label="Per Hour">4.16667 USDT</td>
            <td data-label="Per Day">100.00008 USDT</td>
            <td data-label="Per Week">700.00056 USDT</td>
            <td data-label="Per Month">3000.00240 USDT</td>
        </tr>
        <tr>
            <td>5000 USDT</td>
            <td data-label="Per Hour">10.41667 USDT</td>
            <td data-label="Per Day">250.00008 USDT</td>
            <td data-label="Per Week">1750.00056 USDT</td>
            <td data-label="Per Month">7500.00240 USDT</td>
        </tr>
        <tr>
            <td>10000 USDT</td>
            <td data-label="Per Hour">20.83333 USDT</td>
            <td data-label="Per Day">499.99992 USDT</td>
            <td data-label="Per Week">3499.99944 USDT</td>
            <td data-label="Per Month">14999.99760 USDT</td>
        </tr>
    </table>
</div>