---
layout: base.njk 
title: Home
uniqueTitle: CoinMiners
---

<div class="hero">
    <div class="hero-body text-centered">
        <h1 class="title">Coin miner guides</h1>
        <p>Below you will find some useful guides to help you on your journey.</p>
    </div>
</div>

<div class="container">
    <div class="guides">
        <div class="categories">
            <h3>Categories</h3>
            <div class="tabs">
                <ul>
                    <li>
                        <a href="#" data-target="all" id="allTab" class="active">All</a>
                    </li>
                    {# <li>
                        <a href="#" data-target="chainmine">Chain Mine</a>
                    </li> #}
                    <li>
                        <a href="#" data-target="stronghold">Stronghold</a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="articles card">
            {% if collections.post.length %}
            <ul role="list" class="posts">
                <div class="content">
                    {% for post in collections.post | reverse%}
                        {% if post.data.category === 'stronghold' %}
                            <div id="stronghold">
                                {% include "posts/guide-item.njk" %}
                            </div>
                        {% endif %}

                        {# {% if post.data.category === 'chainmine' %}
                            <div id="chainmine">
                                {% include "posts/guide-item.njk" %}
                            </div>
                        {% endif %} #}

                        {% if post.data.category === 'common' %}
                            <div id="common">
                                {% include "posts/guide-item.njk" %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </ul>
            {% else %}
            <h2 class="text-centered ">There are no guides yet, hang tight!</h2>
            {% endif %}
        </div>
    </div>
</div>
