<header class="header">
	<a href="/">
		<img src="/assets/images/logo.svg" class="svg logo" alt="Logo">
	</a>
		
	<nav>
		<ul role="list" class="nav-list">
			<li>
				<a class="link" {% if page.fileSlug === '' %}aria-current="page"{% endif %} href="/">
					Home
				</a>
			</li>
			{# <li>
				<a class="link" {% if page.fileSlug === '/calculator' %}aria-current="page"{% endif %} href="/calculator/">
					Calculator
				</a>
			</li> #}
		</ul>
	</nav>

</header>
