@use '../abstracts/variables' as *;
@use '../utilities/mixins' as m;

body {
    .calculator {
        display: grid;
        gap: 3rem;

        @include m.tablet-small-min {
            grid-template-columns: 1fr 3fr;
        }

        // max-width: 1200px;
        margin: 0 auto;
    }

    .pre-text {
        color: $green-light;
        font-size: 16px;
    }

    .table-info {
        display: flex;
    }

    .table-buttons {
        list-style: none;
        padding-left: 0;
        margin-top: 0;
        display: flex;
        gap: 1.5rem;

        @include m.tablet-small-max {
            flex-direction: column;
        }

        button {
            border: none;
            // padding: .5rem 1rem;
            border-radius: 5px;
            color: $white;
            background: $green;

            i {
                margin-left: .3rem;
            }

            &.table-clear {
                background: $crimson;
            }

            @include m.tablet-small-max {
                width: 100%;
            }
        }
    }

    .money-info {
        li {

            @include m.tablet-small-max {
                text-align: center;
            }
            
            & > * {
                padding: 10px 15px;
                border-radius: 5px;
                background: $green;
            }

            h3 {
                font-size: 15px;
                color: $black;
            }
        }

        .rates {
            ul {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                list-style: none;
                gap: 1rem;

                @include m.tablet-max {
                    grid-template-columns: repeat(2, 1fr);
                }

                h3 {
                    background: rgba($white, .95);
                    color: $green-light;
                    
                    span {
                        display: block;
                        color: $black;
                    }
                }
            }
        }

        #earnings-reached {
            button {
                width: 100%;
                display: block;
                padding: 10px 15px;
                font-weight: bold;
                font-size: $fs-4;
                background: orange;
                border: none;
                border-radius: 5px;
            }
        }

        ul.table-buttons li:first-child{
            flex: 1;
        }
    }
        
    .form {
        @include m.tablet-small-min {
            position: sticky;
            top: 150px;
        }
    }
}